div{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
}
.container-fluid{
    margin: 0;
    padding: 20px 0 0;
}
.table {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.table th {
    font-weight: bold;
}

.table thead th {
    vertical-align: bottom;
}
.table tbody tr:hover > td,
.table tbody tr:hover > th {
    background-color: #f5f5f5;
}
.nav{
    margin: 0;
    list-style: none;
    color: #ffffff;
    background-color: #0088cc;
    height: 100%;
}
.nav li{
    padding: 5px 1px 5px 10px;
}
.nav li:active{
    border-left: 3px #b9302f solid;
}
.ontainer-fluid{
    height: 100%;
}